<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <section>
      <div class="about">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          minima eaque architecto voluptatem? Maxime error sequi similique id
          praesentium itaque tenetur architecto aut, iusto ducimus natus rerum
          excepturi laboriosam consequuntur minus minima recusandae ullam autem!
          Quam ab porro facere obcaecati velit expedita eaque blanditiis,
          dolorem dolore voluptatum distinctio ratione numquam.
        </p>
      </div>
    </section>
  </body>
</html>
