<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <section>
      <div class="landing">
        <h3>
          This is a landing page of this site. You can find amazing blogs.
        </h3>
      </div>
    </section>
  </body>
</html>
